{% extends "foodBookApp/base.html"%}
<!-- {% load crispy_forms_tags %} -->
{% block content %}
<div class="forms">
    <form enctype="multipart/form-data" method="POST" class="register-form d-flex flex-column justify-content-center">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Edit Profile</legend>
            <!-- {{ p_form|crispy }} -->
            <p>Profile picture</p>
            <p>{{ form.profilePic }}</p>
            <hr>
            <p>Bio</p>
            <p>{{ form.bio }}</p>

        </fieldset>
        <div class="form-group">
            <button class="btn form-button" type="submit">Update</button>
        </div>
    </form>

</div>

{% endblock content %}



