{% extends "foodBookApp/base.html"%}

{% block content %}
    <h3 class="text-center feed" style="color:#273443;">Main Feed</h3>
</div>
    {% if posts %}
<div class="user-feed">

   
    {% for post in posts  %}

                     <!-- Start Post -->
         
                     <div class="post d-flex flex-column align-items-center ">
                        <div class="post-header d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row">
                                <img src="{{ post.user.profile.profilePic.url }}" class="m-1" id="profile-pic" height="32px"/> 
                                <a href="/profile/{{ post.user.username }}" class="mt-1">{{ post.user.username }}</a>
    
                            </div>
                          
                          
                        </div>
                         
                        <div class="post-body">
                           <p class="ml-1">{{ post.body }}</p>

                           {% if post.image %}
                           <img src="{{ post.image.url }}" />
                           
                           {% endif %}
                           
                    
                    
                           <div class="d-flex justify-content-center">
                            <div class="social-buttons pb-2 d-flex justify-content-center">
                                <form>
                                    {% csrf_token %}
                                {% if request.user not in post.likes.all %}                                    
                                    <button type="submit" job="like-post" class="btn-success btn-sm pl-4 pr-4" >
                                        
                                        <i class="far fa-thumbs-up" job="like" name="post_id" id="thumbs-up" value="{{ post.id}}">{{post.total_likes}}</i>   
                                        <p class="social-labels">Like</p> 
                                    </button>                                                
                                {% else %}
                                    <button type="submit" job="like-post" class="btn-secondary btn-sm pl-4 pr-4" >
                                        
                                        <i class="far fa-thumbs-down" job="like" name="post_id" id="thumbs-up" value="{{ post.id}}">{{post.total_likes}}</i>   
                                        <p class="social-labels">Unlike</p> 
                                    </button>
                                
                                {% endif %}
                                </form>
    
                                <form action="{% url 'view-post' post.pk %}"  method="GET">
                                    {% csrf_token %}
                                    <button type="submit", class="btn-seconday btn-sm " >
                                        
                                        <i class="fas fa-comment " job="comment" value="{{ post.id}}">{{post.total_comments}}</i>
                                  <p class="social-labels">Comment</p>
                                    </button>
                                </form>
    
                                <form>
                                    {% csrf_token %}
                                    <button type="button" class="share btn-info btn-sm btn-sm pl-4 pr-4" data-toggle="modal" data-target="#socialModalCenter" >
                                        
                                        <i class="fas fa-share-alt " job="share" value="{{ post.id}}"></i>
                                        <p class="social-labels ">Share</p>
                                    </button>
                                </form>
                            </div>
    
                            </div>
    
                            </div>
                    
                      </div>
                      
                    
                     </div>

                     <!-- END POST -->
       
        




    {% endfor %}
    {% endif %}
</div>

{% endblock %}

