{% extends "foodBookApp/base.html"%}
{% load static %}
{% block content %}
    <h3 class="text-center feed" style="color:#273443;">Featured</h3>
    <!-- <h3 class="text-center feed" style="color:#273443;">Main Feed</h3> -->
    <hr>
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-danger">Indulgence</strong>
                  <h3 class="mb-0">Featured post 1</h3>
                  <!-- <div class="mb-1 text-muted">Nov 12</div> -->
                  <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                  <!-- <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img src="{% static 'foodBookApp/pizza-3007395_1920.jpg' %}" width="400" height="250" preserveAspectRatio="xMidYMid slice" alt="Food"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success">Diet</strong>
                  <h3 class="mb-0">Featured post 2</h3>
                  <!-- <div class="mb-1 text-muted">Nov 11</div> -->
                  <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                  <!-- <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img src="{% static 'foodBookApp/salmon.jpg' %}" width="400" height="250" preserveAspectRatio="xMidYMid slice" alt="Food"/>
                </div>
              </div>
            </div>
          </div>
    <hr>
    <h3 class="text-center feed" style="color:#273443;">Feed</h3>
</div>
    {% if posts %}
<div class="user-feed">

   
    {% for post in posts  %}
        {% include 'foodBookApp/snippets/post_block.html' %}

    {% endfor %}
    {% endif %}
</div>

{% endblock %}

