{% if profile.user not in rel_receiver and profile.user not in rel_sender %}
<form action="{%url 'send-invite'%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="profile_pk" value={{profile.id}}>
        <button class="profile-buttons d-flex flex-column align-items-center" style="background-color: green;">
        
            <p><i class="far fa-user mt-2 mb-0"></i><br>Add</p>
        </button>
</form>
{%else%}
    {% if profile.user in rel_receiver and request.user not in profile.friends.all %}
        <button class="profile-buttons d-flex flex-column align-items-center">
                    
            <p><i class="far fa-user mt-2 mb-0"></i>Awaiting</p>
        </button>                    
    {% else %}

        {% if request.user in profile.friends.all %}
            <form action="{%url 'remove-friend' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{profile.id}}>
                <button class="profile-buttons d-flex flex-column align-items-center" style="background-color: red;">
                    
                    <p><i class="far fa-user mt-2 mb-0"></i>Remove</p>
                </button>
            </form>  
        {% else %}
            <button class="profile-buttons d-flex flex-column align-items-center">
                        
                <p><i class="far fa-user mt-2 mb-0"></i>Respond</p>
            </button> 
        {% endif %}
    {% endif %}
{% endif %}



{% if obj.user not in rel_receiver and obj.user not in rel_sender %}
    <form action="{%url 'send-invite'%}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="profile_pk" value={{obj.pk}}>
        
        <button class="btn btn-sm btn-success ml-2 mb-2">Add Friend</button>
        
    </form>
{%else%}
    {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
        <button class="btn btn-sm btn-secondary ml-2 mb-2" >Awaiting response</button>                   
    {% else %}

        {% if request.user in obj.friends.all %}
            <form action="{%url 'remove-friend' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button class="btn btn-sm btn-danger ml-2 mb-2" >Remove Friend</button>
            </form>
        {% else %}
            <form action="{%url 'my-invites' %}" method="GET">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button class="btn btn-sm btn-secondary ml-2 mb-2" >Respond to Invite</button>
            </form>
        {% endif %}
    {% endif %}
{% endif %}