{% extends 'foodBookApp/base.html' %}

{% block content %}

    {% if profiles.count > 0 %}
        Found {{ profiles.count }} profiles:
    {% endif %}

    <h2>Profiles:</h2>
    {% for obj in profiles %}
        {% if obj %}
            {% include 'foodBookApp/snippets/profile_block.html' %}
        {% endif %}
    {% empty %}
        No matching usernames
    {% endfor %}
    {% include 'foodBookApp/snippets/paginate.html' with page_obj=profiles page="pagea" has_other_queries=True %}

    {% if posts.count > 0 %}
        Found {{ posts.count }} posts:
    {% endif %}

    <h2>Posts:</h2>
    {% for post in posts %}
        {% if post %}
            {% include 'foodBookApp/snippets/post_block.html' %}
        {% endif %}
    {% empty %}
        No matching post tags
    {% endfor %}
    {% include 'foodBookApp/snippets/paginate.html' with page_obj=posts page="pageb" has_other_queries=True %}

{% endblock %}