{% extends "foodBookApp/base.html"%}

{% block content %}
<div class="post d-flex flex-column align-items-center">
    <div class="profile-body d-flex flex-column align-items-center">
        <div class="profile-header d-flex flex-column align-items-center">
            <img src="{{ user.profile.profilePic.url }}" class="mt-1" id="profile-pic" height="100rem" width="100rem"/>
            <p>{{ user.username }}</p>
            
            <div class="d-flex flex-row align-items-center">

                {% if user not in rel_receiver and obj.user not in rel_sender %}
                        <form action="{%url 'send-invite'%}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{user.id}}>
                            
                            <a href="#" class="profile-buttons d-flex flex-column align-items-center">

                                <i class="far fa-user mt-2" job="add-friend" value="{{user.id}}" sender="{{viewer.id}}" id="add-button"></i>
            
                                <p>Add</p>
            
                            </a>
                            
                        </form>
                {%endif%}



                <a href="#" class="profile-buttons d-flex flex-column align-items-center">

                    <i class="far fa-user mt-2" job="add-friend" value="{{user.id}}" sender="{{viewer.id}}" id="add-button"></i>

                    <p>Add</p>

                </a>
              
                <a href="#" class="profile-buttons d-flex flex-column align-items-center">
                    <i class="far fa-envelope mt-2"></i>


                    <p>Message</p>

                </a>

                <a href="#" class="profile-buttons d-flex flex-column align-items-center">
                    <i class="fas fa-user-friends mt-2"></i>

                    <p>Friends</p>

                </a>

                <a href="#" class="profile-buttons d-flex flex-column align-items-center">
                    <i class="fas fa-image mt-2"></i>

                    <p>Photos</p>

                </a>
           

            </div>
            

        </div>
        
        {% if user.profile.bio %}
        Bio
        <p style="color:black;">{{ user.profile.bio }}</p>
        
        {% endif %}
        
    </div>


    <h3 style="color:#1ebea5;">Posts</h3>
</div>
    {% if posts %}
<div class="user-feed">

   
    {% for post in posts reversed %}

                     <!-- Start Post -->
         
                     <div class="post d-flex flex-column align-items-center ">
                        <div class="post-header d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row">
                                <img src="{{ user.profile.profilePic.url }}" class="m-1" id="profile-pic" height="32px"/> 
                                <a href="{% url 'my-profile' %}" class="mt-1">{{ user.username }}</a>
    
                            </div>
                          
                          
                        </div>
                         
                        <div class="post-body">
                           <p class="ml-1">{{ post.body }}</p>

                           {% if post.image %}
                           <img src="{{ post.image.url }}" />
                           
                           {% endif %}
                           
                        <div class="d-flex justify-content-center">
                        <div class="social-buttons pb-2 d-flex justify-content-center">
                            <form>
                                {% csrf_token %}
                            {% if request.user not in post.likes.all %}                                    
                                <button type="submit" job="like-post" class="btn-success btn-sm pl-4 pr-4" >
                                    
                                    <i class="far fa-thumbs-up" job="like" name="post_id" id="thumbs-up" value="{{ post.id}}">{{post.total_likes}}</i>   
                                    <p class="social-labels">Like</p> 
                                </button>                                                
                            {% else %}
                                <button type="submit" job="like-post" class="btn-secondary btn-sm pl-4 pr-4" >
                                    
                                    <i class="far fa-thumbs-down" job="like" name="post_id" id="thumbs-up" value="{{ post.id}}">{{post.total_likes}}</i>   
                                    <p class="social-labels">Unlike</p> 
                                </button>
                            
                            {% endif %}
                            </form>

                            <form action="{% url 'view-post' post.pk %}"  method="GET">
                                {% csrf_token %}
                                <button type="submit", class="btn-seconday btn-sm " >
                                    
                                    <i class="fas fa-comment " job="comment" post-id=" ">{{post.total_comments}}</i>
                              <p class="social-labels">Comment</p>
                                </button>
                            </form>

                            <form>
                                {% csrf_token %}
                                <button type="button" class="share btn-info btn-sm btn-sm pl-4 pr-4" data-toggle="modal" data-target="#socialModalCenter" >
                                    
                                    <i class="fas fa-share-alt " job="share" value="{{ post.id}}"></i>
                                    <p class="social-labels ">Share</p>
                                </button>
                            </form>
                              
                          
                        </div>

                        </div>
                    
                    

                    
                      </div>
                      
                    
                     </div>

                     <!-- END POST -->
       
        





    {% endfor %}
    {% endif %}
</div>

{% endblock %}

