{% extends "foodBookApp/base.html"%}

{% block content %}
{% include 'foodBookApp/snippets/profile_header_block.html' %}
{% if can_view %}
    <h3 style="color:#1ebea5; text-align: center;">Friends</h3>

{% for friend in profile.get_friends %}
<div class="container-fluid">
    <div class="post d-flex justify-content-center">
        <div class="profile-body d-flex flex-column justify-content-center mb-2">

            <img src={{friend.profilePic.url}}></img>


            <h3 class="text-center">{{friend}}</h3>

            <div class="d-flex justify-content-center">

                <div class="d-flex flex-row mb-2" class="ml-2">
                    <a href="/profile/{{friend}}">
                        <button class="btn btn-sm form-button">See profile</button>
                    </a>


            </div>
           

            </div>

        </div>
    </div>
</div>
{% empty %}
    <h1>No friends..</h1>
{% endfor %}
{% endif %}
{% endblock %}
