{% extends "foodBookApp/base.html"%}

{% block content %}
<div class="post d-flex flex-column align-items-center">
    <div class="profile-body d-flex flex-column align-items-center">
        <div class="profile-header d-flex flex-column align-items-center">
            <img src="{{ profile.profilePic.url }}" class="mt-1" id="profile-pic" height="100rem" width="100rem"/>
            <p>{{ profile.user.username }}</p>
            
            <div class="d-flex flex-row align-items-center">

            {% if viewer.username != profile.user.username %}
                {% if profile.user in rel_receiver and viewer.user not in profile.friends.all %}
                <button class="profile-buttons d-flex flex-column align-items-center">
                        
                    <p><i class="far fa-user mt-2 mb-0"></i>Awaiting</p>
                </button>
                {%else%}
                

                {% if viewer.user in profile.friends.all %}
                <form action="{%url 'remove-friend' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value={{user.id}}>
                    <button class="profile-buttons d-flex flex-column align-items-center" style="background-color: red;">
                        
                        <p><i class="far fa-user mt-2 mb-0"></i>Remove</p>
                    </button>
                </form> 
                {% else %}
                {% if viewer.user not in rel_receiver and viewer.user not in rel_sender %}
                <form action="{%url 'send-invite'%}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value={{user.id}}>
                        <button class="profile-buttons d-flex flex-column align-items-center" style="background-color: green;">
                        
                            <p><i class="far fa-user mt-2 mb-0"></i>Add</p>
                        </button>
                </form>
                {%endif%}
                {% endif %}
                {% endif %}
              
                <a href="{% url 'new-user-convo' profile.user.username %}" class="profile-buttons d-flex flex-column align-items-center">
                    <i class="far fa-envelope mt-2"></i>
                    <p>Message</p>
                </a>

                <a href="{% url 'user-friends' profile.user.username %}" class="profile-buttons d-flex flex-column align-items-center">
                    <i class="fas fa-user-friends mt-2"></i>
                    <p>Friends</p>
                </a>

                <a href="{% url 'user-photos' user.username %}" class="profile-buttons d-flex flex-column align-items-center">
                    <i class="fas fa-image mt-2"></i>
                    <p>Photos</p>
                </a>
            {% else %}
                <a href="{% url 'new-post' %}" class="profile-buttons d-flex flex-column align-items-center">
                    <i class="fas fa-pen mt-2"></i>
                    <p>Post</p>
                </a>
            
                <a href="{% url 'edit-profile' %}" class="profile-buttons d-flex flex-column align-items-center">
                    <i class="far fa-user mt-2"></i>
                    <p>Edit</p>
                </a>

                <a href="{% url 'my-friends' %}" class="profile-buttons d-flex flex-column align-items-center">
                    <i class="fas fa-user-friends mt-2"></i>
                    <p>Friends</p>
                </a>

                <a href="#" class="profile-buttons d-flex flex-column align-items-center">
                    <i class="fas fa-image mt-2"></i>
                    <p>Photos</p>
                </a>
            {% endif %}
           

            </div>
            

        </div>
        
        {% if profile.bio %}
        Bio
        <p style="color:black;">{{ profile.bio }}</p>
        
        {% endif %}
        
    </div>


    <h3 style="color:#1ebea5;">Posts</h3>
</div>
    {% if posts %}
<div class="user-feed">

   
    {% for post in posts reversed %}
        {% include 'foodBookApp/snippets/post_block.html' %}
    {% endfor %}
    {% endif %}
</div>

{% endblock %}

