{% load crispy_forms_tags %}

<div class="post d-flex flex-column align-items-center ">
    <div class="post-header d-flex flex-row justify-content-between">
        <div class="d-flex flex-row">
            <img src="{{ post.user.profile.profilePic.url }}" class="m-1" id="profile-pic" height="32px"/> 
            <a href="{% url 'user-profile' post.user.username %}" class="mt-1">{{ post.user.username }}</a>

        </div>
      
    {% if post.user == user %}
      <div class="d-flex flex-row">
        <button type="button"  job="edit-post" class="post-buttons d-flex flex-column align-items-center mr-1">
            <i class="fas fa-pen mt-1" value="{{ post.id }}" id="pen"></i>

            <p>Edit</p>
        </button>

        <button type="button" job="delete-post" class="post-buttons d-flex flex-column align-items-center mr-1">
            <i class="fas fa-trash mt-1"  value="{{ post.id }}" id="trash"></i>

            <p>Delete</p>
        </button>

      </div>
    {% endif %}
      
    </div>
     
    <div class="post-body">
       <p class="ml-1">{{ post.body }}</p>
        {% for tag in post.tags.all %}
            <form class="ml-1" action="{% url 'search' %}" style="display: inline;">
                <button class="btn btn-outline-secondary btn-sm my-sm-0" type="submit" name="q" value="{{ tag }}">{{ tag }}</button>
            </form>
        {% endfor %}

       {% if post.image %}
       <img src="{{ post.image.url }}" />
       
       {% endif %}
       


       <div class="d-flex justify-content-center">
        <div class="social-buttons pb-2 d-flex justify-content-center">
            <form>
                {% csrf_token %}
            {% if request.user not in post.likes.all %}                                    
                <button type="submit" job="like-post" class="btn-success btn-sm pl-4 pr-4" >
                    
                    <i class="far fa-thumbs-up" job="like" name="post_id" id="thumbs-up" value="{{ post.id}}">{{post.total_likes}}</i>   
                    <p class="social-labels">Like</p> 
                </button>                                                
            {% else %}
                <button type="submit" job="like-post" class="btn-secondary btn-sm pl-4 pr-4" >
                    
                    <i class="far fa-thumbs-down" job="like" name="post_id" id="thumbs-up" value="{{ post.id}}">{{post.total_likes}}</i>   
                    <p class="social-labels">Unlike</p> 
                </button>
            
            {% endif %}
            </form>

            <form action="{% url 'view-post' post.pk %}"  method="GET">
                {% csrf_token %}
                <button type="submit", class="btn-seconday btn-sm " >
                    
                    <i class="fas fa-comment " job="comment" post-id=" ">{{post.total_comments}}</i>
              <p class="social-labels">Comment</p>
                </button>
            </form>

            <form>
                {% csrf_token %}
                <button type="button" class="share btn-info btn-sm btn-sm pl-4 pr-4" data-toggle="modal" data-target="#socialModalCenter" >
                    
                    <i class="fas fa-share-alt " job="share" value="{{ post.id}}"></i>
                    <p class="social-labels ">Share</p>
                </button>
            </form>
    
              
          
        </div>

        </div>

        <h5>Comments({{total_comments}})</h5>
        {% if comments %}
        <div class="d-flex flex-column justify-content-center">
                            

            {% for comment in comments%}

            <div class="comment d-flex mb-1">
                <img src="{{comment.user.profile.profilePic.url}}" class="m-1">
                <div class="mt-0">
                    <a href="/profile/{{ comment.user.username }}" class="mb-0">{{ comment.user.username }}</a>
                    <p class="m-0">{{ comment.body }}</p>
                    <small class="m-0">{{ comment.datePosted }}</small>


                </div>

            </div>

            {% endfor %}
        </div>

        {% endif %}

        <div class="container-fluid center-div mt-lg-0 pt-lg-0">
            <div class="form">
                <form method="POST" class="register-form d-flex flex-column justify-content-center">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend >Add comment</legend>
                        {{ c_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn form-button" type="submit">Add Comment</button>
                    </div>
                </form>
        
            </div>
        </div>

      
      </div>

  </div>
  
 </div>