
<div class="container-fluid">
    <div class="post d-flex justify-content-center">
        <div class="profile-body d-flex flex-column justify-content-center mb-2">
            <div class="d-flex justify-content-center">
                <img class="ui small circular image profile-pic" src={{obj.profilePic.url}}>
            </div>
            <h3 class="text-center">{{obj.user.username}} ({{ obj.get_privacy_display }})</h3>
            
            <div d-flex flex-column  >
                <p class="text-center" style="color: black;">{{obj.bio}}</p>
                    
                    

                <div class="d-flex flex-row justify-content-center">
                    <a href="{% url 'user-profile' obj.user.username %}">
                        <button class="btn btn-sm form-button ml-2 mb-2">See profile</button>
                    </a>

                        {% if obj.user not in rel_receiver and obj.user not in rel_sender %}
                            <form action="{%url 'send-invite'%}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                
                                <button class="btn btn-sm btn-success ml-2 mb-2">Add Friend</button>
                                
                            </form>
                        {%else%}
                            {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
                                <button class="btn btn-sm btn-secondary ml-2 mb-2" >Awaiting response</button>                   
                            {% else %}
                        
                                {% if request.user in obj.friends.all %}
                                    <form action="{%url 'remove-friend' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                        <button class="btn btn-sm btn-danger ml-2 mb-2" >Remove Friend</button>
                                    </form>
                                {% else %}
                                    <form action="{%url 'my-invites' %}" method="GET">
                                        {% csrf_token %}
                                        <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                        <button class="btn btn-sm btn-secondary ml-2 mb-2" >Respond to Invite</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                </div>

            </div>
            

        </div>
    </div>
</div>